@import url('https://fonts.googleapis.com/css2?family=Itim&family=Protest+Guerrilla&display=swap');

html, body{
    width: 100%;
    height: 100%;
    font-family: Itim, cursive;
    background-color: #FFE0DB;
    color: black;
    overflow: hidden;
    text-align: center;
    user-select: none;
    margin: 0;

}
.container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#countdown{
    font-size: 200px;
}